#blurbContainer {
  text-align: center;
  margin-top: 40px;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url('../../assets/blurb1.png');
  background-size: cover;
}
