.giphyContainer {
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}

iframe {
  border: 0;
  height: 100%;
  src: 'https://giphy.com/embed/cCGQHaYLrnSJrHuaQq/video';
  left: 0;
  top: 0;
  width: 100%;
}
